*{
    padding: 0px;
    margin: 0px;
   
}
body{
    background: url(/gym.jpg);
    background-size: cover;
    box-sizing:content-box;
    font-family: sans-serif;
    
}
.lo{
    max-width: 100px;
    max-height: 100px;
    float: left;
    filter:invert(100%);
    
    
    
}
.nav{
    background-color: rgba(24, 25, 26, 0.75);
    text-align: center;
}
.nav ul{
    display: inline-flex;
    list-style: none;
    color: white;
    transition: .5s;
}
.nav ul li{
    width: 120px;
    margin: 15px;
    padding: 15px;
    transition: .4s;
}
.nav ul li a{
    text-decoration: none;
    color: white;
}
.active , .nav ul li a:hover{
     background: grey;
     border-radius: 5px;
     transition: .5s;

}
.nav .fa{
    margin-right: 5px;
}
.nav1{
    display: none;
}
.nav ul li:hover .nav1{
    display: block;
    position: absolute;
    background: rgb(22, 20, 20);
    margin-top: 10px;
    margin-left: -10px;
}
.nav ul li:hover .nav1 ul{
    display: block;
    margin: 2px;
}
.nav ul li:hover .nav1 ul li{
    width: 150px;
    padding: 10px;
    background: transparent;
    border-radius: 0;
    text-align: left;

}
.nav ul li:hover .nav1 ul li a:hover{
    color: greenyellow;
}
.base{
    text-align: center;
    color: rgb(117, 102, 16);
    font-style:initial;
    font-size: large;
    margin: 0;
    padding: 0;
    top:80%;
    left: 36%;
    position: absolute;

     
}